<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="collapse navbar-collapse justify-content-center">
        <h4 class="text-light bg-dark">VENTAS</h4>
      </div>
    </nav>
  </header>
  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="mt-5 col-12 mt-6 d-flex justify-content-center">
        <app-client></app-client>
        <app-product></app-product>
        <app-orders></app-orders>
      </div>
    </div>
  </main>
 
  <footer class="footer fixed-bottom bg-dark">
    <div class="container">
      <span class="text-muted">Altiora Prueba Técnica  - Marco Játiva</span>
    </div>
  </footer>
</body>